#index {
    margin: 50px;
}

.btn {
    display: block;
    margin: 50px auto;
    width: 30%;
}

#seconds-counter {
    position: fixed;
    bottom: 60px;
    right: 70px;
    font-size: 50px;
    font-weight: bold;
}

#ball {
    height: 64px;
    width: 64px;
    background-color: blue;
    border-radius: 50%;
}

.block {
    height: 64px;
    width: 64px;
    background-color: red;
    border-radius: 10%;
}

#madness {
    /* The window where the game is played */
    width: 80%;
    height: 100%;
    border: solid 5px black;
    margin: auto;
}
